In [6]:
import pandas as pd
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [2]:
dafr = pd.read_csv('Hotel Reservations.csv')
dafr.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [3]:
for c_l in list(dafr.select_dtypes(include=['object']).columns):
    dafr[c_l] = LabelEncoder().fit_transform(dafr[c_l])
    
dafr['arrival_year'] = LabelEncoder().fit_transform(dafr['arrival_year'])

scaler_dt = MinMaxScaler()
X_scaled = scaler_dt.fit_transform(dafr[['lead_time', 'arrival_month', 'arrival_date']])
dafr[['lead_time', 'arrival_month', 'arrival_date']] = X_scaled

dafr.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0,2,0,1,2,0,0,0,0.505643,0,0.818182,0.033333,3,0,0,0,65.00,0,1
1,1,2,0,2,3,3,0,0,0.011287,1,0.909091,0.166667,4,0,0,0,106.68,1,1
2,2,1,0,2,1,0,0,0,0.002257,1,0.090909,0.900000,4,0,0,0,60.00,0,0
3,3,2,0,0,2,0,0,0,0.476298,1,0.363636,0.633333,4,0,0,0,100.00,0,0
4,4,2,0,1,1,3,0,0,0.108352,1,0.272727,0.333333,4,0,0,0,94.50,0,0

In [4]:
X = dafr.drop(['Booking_ID', 'avg_price_per_room', 'room_type_reserved'], axis = 1)
y = dafr['room_type_reserved']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [7]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [8]:
y_pred = rf.predict(X_test)

In [9]:
print(confusion_matrix(y_test, y_pred))

[[8130   13    0  282    2   20    3]
 [  79  114    0   11    0   12    0]
 [   2    0    1    0    0    0    0]
 [ 783    5    0 1007    1    8    4]
 [  36    0    0    6   18    5    1]
 [  30    3    0    9    0  248    2]
 [  16    2    0   11    0   13    6]]

In [10]:
print(classification_report(y_test, y_pred, zero_division=0.0))

              precision    recall  f1-score   support

           0       0.90      0.96      0.93      8450
           1       0.83      0.53      0.65       216
           2       1.00      0.33      0.50         3
           3       0.76      0.56      0.64      1808
           4       0.86      0.27      0.41        66
           5       0.81      0.85      0.83       292
           6       0.38      0.12      0.19        48

    accuracy                           0.88     10883
   macro avg       0.79      0.52      0.59     10883
weighted avg       0.87      0.88      0.87     10883